<h1>Bustle</h1>
  <div class="row">
  <div class="col-md-6">
  <ul>
    <li>{{#link-to 'story1'}}Marco Perego Becomes A Saldana & That's Hot{{/link-to}}</li>
  <p><img src="http://upload.wikimedia.org/wikipedia/commons/6/6c/Charles-Ray-Actor.jpg"
alt="A photo of Dracula"></p>
    <li><a href="#">Gwyneth's Daughter Is Her Mini Me</a></li>
    <p><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/51/A_mother_and_baby_both_in_gas-masks_during_1941._D3918.jpg/160px-A_mother_and_baby_both_in_gas-masks_during_1941._D3918.jpg"
  alt="A photo of Dracula"></p>
    <li><a href="#">The Dreamiest Instagram Couple Got Married</a></li>
    <p><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Bridal_party_at_Bryce_Gillespie_wedding_1914_%283190696543%29.jpg/300px-Bridal_party_at_Bryce_Gillespie_wedding_1914_%283190696543%29.jpg"
  alt="A photo of Dracula"></p>
    <li><a href="#">This School's Dress Code Inclusivity is AMAZING</a></li>
  </ul>
  <p><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/42/CBC_Fifth_Class_1934.jpg/320px-CBC_Fifth_Class_1934.jpg"
alt="A photo of Dracula"></p>
</div>
</div>
