<p>Remember that couple on Instagram who took gorgeous photos where they were holding hands, positioned like the woman was leading the man to an exotic destination? Well, that hand-holding Instagram couple got married, and their wedding photos are stunning, obviously. What else would you expect?

In case you need a quick refresher, Murad Osmann and his girlfriend Natalia Zakharova became Instagram famous thanks to their #FollowMeTo series, where they traveled the world together and took pictures where Natalia faced forward with her arm extended back, holding Murad’s hand like he’s following her. They visited all kinds of beautiful places, like India, Hong Kong, Georgia (the country, not the state), and more, and I might need to take a break from writing this just to deal with my insane jealousy right now.

Because being a beautiful, global jet-setting couple that’s madly in love wasn’t cute enough, Osmann and Zakharova recently got married, and you can bet they recreated the “follow me” photo on their wedding day. I have a feeling we’ll be seeing this style of photo in a lot more wedding albums, since theirs looks so awesome. I wonder if Osmann would ever consider photographing weddings? If so, I would like to book him for the summer of 2022, because at the rate my life is going that’s when my wedding will be.

</p>
